@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 82.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  color: #2c3e50;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  max-width: 100rem;
  margin: 0 auto;
}

.container > * {
  padding: 10px;
  flex: 1 100%;
}

/* HEADER */

.header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 800;
}

header {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: #3498db;
  color: #fff;
}

header h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 5rem;
  padding: 5rem 0 1rem;
  text-shadow: 0.3rem 0.3rem 0 #34495e;
}

header p {
  font-weight: 300;
  font-size: 1.2em;
  padding: 0.2rem 0 5rem;
}

.header > * {
  padding: 0 2rem;
}

.header .logo {
  margin-left: 2rem;
  font-size: 1.6rem;
}

.header .nav {
  text-transform: uppercase;
}

.header .nav a {
  color: #34495e;
  text-decoration: none;
  padding: 1.65rem 1.5rem;
  font-size: 1.1rem;
}

.header .nav a:hover {
  color: #3498db;
}

.header .nav .nav-active {
  color: #3498db;
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.user-nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.user-nav a:hover {
  color: #3498db;
}

.user-nav .user-nav-thumb {
  background-color: #bdc3c7;
  border-radius: 2rem;
  background-size: cover;
  width: 48px;
  height: 48px;
  margin: auto 1rem;
}

/* CONTENT */

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  min-height: 20rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background-color: #0a3d62;
  min-height: 100vh;
}

.sign-in-containter {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  align-content: center;
  margin: 2rem auto;
  justify-content: center;
  justify-items: center;
  background-color: #ecfcff;
  border-radius: 3rem;
  min-height: 25rem;
  grid-template-columns: 50%;
  width: 65%;
}

.sign-in-containter h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0;
}

.sign-in-containter select {
  appearance: none;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat, repeat;
  background-position: right 1rem top 55%, 0 0;
  background-size: 0.75rem auto, 100%;
}

.sign-in-containter select,
.sign-in-containter option {
  height: 4rem;
  width: 25rem;
  border-radius: 3rem;
  padding: 0 2rem;
}

.sign-in-containter select:hover {
  cursor: pointer;
}

.sign-in-containter input {
  width: 25rem;
  height: 4rem;
  border: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.sign-in-containter input:disabled {
  cursor: default;
  background-color: #bdbfc0;
}

.sign-in-containter input:not([disabled]):hover {
  background-color: #3498db;
  cursor: pointer;
}

/* QUESTIONS PAGE */

.questions-container {
  padding-top: 2rem;
  width: 100%;
}

.questions-tabs li {
  list-style-type: none;
}

.question-info,
.info-container {
  padding: 10rem;
  background-color: #ecfcff;
  display: grid;
  width: 65%;
  border-radius: 3rem;
  margin: 2rem auto;
  min-height: 25rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  align-content: center;
}

.questions-tabs #content1,
.questions-tabs #content2 {
  display: none;
}

.questions-tabs #tab1:checked ~ #content1,
.questions-tabs #tab2:checked ~ #content2 {
  display: block;
}

.questions-tabs input {
  display: none;
}

.questions-tabs input:checked + label {
  color: #3498db;
  font-weight: 700;
}

.questions-tabs label {
  padding: 1rem 6.53rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.questions-tabs label:hover {
  cursor: pointer;
  color: #3498db;
}

/* QUESTION */

.question-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.7fr 1.3fr;
  gap: 0px 0px;
  align-items: center;
  margin: 2rem auto;
  justify-content: center;
  justify-items: center;
  background-color: #ecfcff;
  border-radius: 3rem;
  min-height: 25rem;
  width: 65%;
}

.question-container-new {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr;
  align-items: center;
  margin: 2rem auto;
  padding-bottom: 4rem;
  justify-content: center;
  justify-items: center;
  background-color: #ecfcff;
  border-radius: 3rem;
  max-height: 45rem;
  width: 65%;
}

.question-container-new h3 {
  line-height: 1.6rem;
  margin: 3rem 0 1rem;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.question-container-new h4 {
  line-height: 1.6rem;
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.question-details-new input {
  width: 25rem;
  padding: 1rem;
  margin: 2rem;
}

.question-details-new button {
  width: 20rem;
  height: 4rem;
  border: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.question-details-new button:disabled {
  background-color: #bdbfc0;
}

.question-details-new button:not([disabled]):hover {
  background-color: #3498db;
  cursor: pointer;
}

.question-author {
  font-size: 1.2rem;
}

.question-image {
  background-color: #bdc3c7;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background-size: cover;
  background-position: top center;
  width: 300px;
  height: 100%;
}

.question-details {
  font-size: 1.4rem;
  line-height: 3.5rem;
  margin: 2rem 0 1rem;
}

.question-details p,
.question-details label {
  font-size: 1.2rem;
}

.question-details a {
  width: 20rem;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 2rem;
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.question-details button {
  width: 20rem;
  height: 4rem;
  border: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-transform: uppercase;
  margin: 1rem auto 2rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.question-details button:disabled {
  background-color: #bdbfc0;
}

.question-details a:hover,
.question-details button:not([disabled]):hover {
  background-color: #3498db;
  cursor: pointer;
}

.question-details input[type='radio'] {
  width: 3rem;
  height: 1.5rem;
  vertical-align: middle;
}

.question-details-results,
.question-details-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 27rem;
  padding: 1rem;
  line-height: 2rem;
}

.question-details-results > *,
.question-details-options > * {
  background-color: #0a3d621a;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 3rem;
  font-size: 1.2rem;
  width: 35rem;
}

.question-details-options input[type='radio'] {
  display: none;
}

.question-details-options > label:hover {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
}

.question-details-options input[type='radio']:checked + label {
  background-color: #3498db;
  color: #fff;
  font-weight: 700;
  border: 0;
}

.question-details-results .your-answer {
  border: 0.2rem solid #2ecc71;
  position: relative;
  background-color: #2ecc711f;
}
.question-details-results .your-answer:after {
  content: 'Your Answer';
  position: absolute;
  top: -2rem;
  right: -2rem;
  height: 4rem;
  width: 4rem;
  padding: 1.2em 0.65em;
  color: #fff;
  background-color: #3498db;
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1rem;
  border-radius: 50%;
}

.question-details-precentage {
  height: 3rem;
  position: relative;
  background: #d3d3d3;
  border-radius: 2rem;
  margin: 1rem 0 1rem;
  font-weight: 600;
}

.question-details-precentage > span {
  display: block;
  height: 3rem;
  border-radius: 3rem;
  background-color: #2ecc71;
  color: #fff;
  line-height: 3rem;
}

/* LEADERBOARD */

.leaderboard {
  display: block;
  width: 100%;
}

.leaderboard h1 {
  font-size: 2rem;
  color: #fff;
  margin-top: 0.7rem;
  text-transform: uppercase;
}

.leaderboard-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: #ecfcff;
  border-radius: 3rem;
  min-height: 25rem;
  margin: 2rem auto;
  align-items: center;
  width: 65%;
}

.leaderboard-user-image {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #bdc3c7;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background-size: cover;
  background-position: top center;
  width: 300px;
  height: 100%;
}

.leaderboard-user-details {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 1.4rem;
  line-height: 3.5rem;
}

.leaderboard-user-details p {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

.leaderboard-user-details span {
  font-size: 1.3rem;
  font-weight: 700;
}

.leaderboard-user-score {
  grid-area: 1 / 3 / 2 / 4;
}

.leaderboard-user-score span {
  display: block;
  font-size: 4rem;
  font-weight: 700;
}

/* LOADING */

.loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 25rem;
  align-items: center;
}

.loading {
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
